---
interface Props {
  href?: string;
}
const { href } = Astro.props;
---

<li>
  <a
    class="flex gap-2 text-secondary hover:text-zinc-100 items-center py-4 px-5 font-medium transition duration-300"
    href={href}
  >
    <slot />
  </a>
</li>
